body {
  background-color: chocolate;
}

.jumbotron {
  border: solid wheat;
  background-color: black;
}

.card1 {
  height: 400px;
  border: solid white;
  color: chocolate;
  background-color: black;
}

.card2 {
  height: 400px;
  border: solid white;
  color: chocolate;
  background-color: black;
}

.text1 {
  color: chocolate;
  text-align: center;
  font-size: 50px;
  display: inline block;
}

.Ghana-Names {
  flex-direction: right;
}

.footer-center {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  color: chocolate;

}

.card-background {
  background-color: black;
  border: 2px solid #ffffff;
}

.footer {
  background-color: black;
  color: chocolate;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .card3 {
    width: 10rem !important;
  }
}